
<table class="default">
<thead>
  <tr>

    <th>Foto</th>
    <th>Nombre</th>
    <th>Bio</th>
    <th>Fecha de Nacimiento</th>
    <th>Lugar de Nacimiento</th>
    <th>Fecha de fallecimiento</th>
    <th>Lugar de fallecimiento</th>

  </tr>
</thead>

<tbody>
<% @actors.each do |actor| %>
  <tr>
  <td><image src="<%=actor.image_url%>" style = "width: 100px;"></td>
  <td><%=actor.name%></td>
  <td><%=actor.bio%></td>
  <td><%=actor.birth_date%></td>
  <td><%=actor.birth_place%></td>
  <% if actor.alive == false %>
  <td><%=actor.death_date%></td>
  <td><%=actor.death_place%></td>
  <% end %>
  </tr>
  <% end %>
</tbody>
</table>


